<!DOCTYPE html>
{% extends "ER_plotter/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block presentation_text %}
{% endblock presentation_text %}

{% block head %}

<script src="{% static 'ER_plotter/js/plotly-latest.min.js' %}"></script>

{% endblock head %}

{% block content %}
  <!-- Buttons -->
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="sub-header" id="Results">Results</h1>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#Plots">Plots</a></li>
      <li><a data-toggle="tab" href="#Count_table">Count tables</a></li>
      <li><a data-toggle="tab" href="#Annotations">Annotations</a></li>
      <li><a data-toggle="tab" href="#Fasta">Fasta</a></li>
      <li><a data-toggle="tab" href="#Links">Links</a></li>
      <li><a data-toggle="tab" href="#Alignment">Alignment</a></li>
    </ul>
    <br/>
    <div class="tab-content">
      <div id="Plots" class="tab-pane fade in active">
        <h3>Plots</h3>
        <div id='regenPlotWrapper'>
          <div id="regenPlot"><!-- Plotly chart will be drawn inside this DIV --></div>
        </div>
        <div id='embryoPlotWrapper'>
          <div id="embryoPlot"><!-- Plotly chart will be drawn inside this DIV --></div>
        </div>
        <!--
        <div id="regen_plot_div" style="width: 95%; height: 700px;"></div>
        <div id='pngRegen'></div>
        <div id="embryo_plot_div" style="width: 95%; height: 700px;"></div>
        <div id='pngEmbryo'></div>
        -->
      </div>
      <div id="Count_table" class="tab-pane fade">
        <h3>Count tables</h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <h4>Regeneration average counts (hours post amputation) {% if not log2 %}-- log2{% endif %}</h4>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>UC</th>
                  <th>0h</th>
                  <th>2h</th>
                  <th>4h</th>
                  <th>8h</th>
                  <th>12h</th>
                  <th>16h</th>
                  <th>20h</th>
                  <th>24h</th>
                  <th>36h</th>
                  <th>48h</th>
                  <th>60h</th>
                  <th>72h</th>
                  <th>96h</th>
                  <th>120h</th>
                  <th>144h</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ nvertx_1 }}</td>
                  {% if not nvertx_1_results.invalid.regen %}
					{% for cpm in nvertx_1_results.counts.regen %}
                      <td>{{ cpm }}</td>					
				    {% endfor %}
                  {% else %}
                    <td colspan='16'>No data</td>
                  {% endif %}
                </tr>
                {% if nvertx_2 %}
                  <tr>
                    <td>{{ nvertx_2 }}</td>
                    {% if not nvertx_2_results.invalid.regen %}
					  {% for cpm in nvertx_2_results.counts.regen %}
                        <td>{{ cpm }}</td>					
				      {% endfor %}
                    {% else %}
                      <td colspan='16'>No data</td>
                    {% endif %}
                  </tr>
                {% endif %}
                {% if nvertx_3 %}
                  <tr>
                    <td>{{ nvertx_3 }}</td>
                    {% if not nvertx_3_results.invalid.regen %}
					  {% for cpm in nvertx_3_results.counts.regen %}
                        <td>{{ cpm }}</td>					
				      {% endfor %}
                    {% else %}
                      <td colspan='16'>No data</td>
                    {% endif %}
                  </tr>
                {% endif %}
                {% if nvertx_4 %}
                  <tr>
                    <td>{{ nvertx_4 }}</td>
                    {% if not nvertx_4_results.invalid.regen %}
					  {% for cpm in nvertx_4_results.counts.regen %}
                        <td>{{ cpm }}</td>					
				      {% endfor %}
                    {% else %}
                      <td colspan='16'>No data</td>
                    {% endif %}
                  </tr>
                {% endif %}
                {% if nvertx_5 %}
                  <tr>
                    <td>{{ nvertx_5 }}</td>
                    {% if not nvertx_5_results.invalid.regen %}
					  {% for cpm in nvertx_2_results.counts.regen %}
                        <td>{{ cpm }}</td>					
				      {% endfor %}
                    {% else %}
                      <td colspan='16'>No data</td>
                    {% endif %}
                  </tr>
                {% endif %}
                  </tbody>
                </table>
                <br/>
                <table class="table table-striped">
                  <h4>Warner et al. average counts (hours post fertilization)</h4>
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>24h</th>
                      <th>48h</th>
                      <th>72h</th>
                      <th>96h</th>
                      <th>120h</th>
                      <th>144h</th>
                      <th>168h</th>
                      <th>192h</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ nvertx_1 }}</td>
                      {% if not nvertx_1_results.invalid.embryo_warner %}
					    {% for cpm in nvertx_1_results.counts.embryo_warner %}
                          <td>{{ cpm }}</td>					
				        {% endfor %}
                      {% else %}
                        <td colspan='8'>No data</td>
                      {% endif %}
                    </tr>
                    {% if nvertx_2 %}
                    <tr>
                      <td>{{ nvertx_2 }}</td>
                      {% if not nvertx_2_results.embryo_warner %}
					    {% for cpm in nvertx_2_results.counts.embryo_warner %}
                          <td>{{ cpm }}</td>					
				        {% endfor %}
                      {% else %}
                        <td colspan='8'>No data</td>
                      {% endif %}
                    </tr>
                    {% endif %}
                    {% if nvertx_3 %}
                    <tr>
                      <td>{{ nvertx_3 }}</td>
                      {% if not nvertx_3_results.embryo_warner %}
					    {% for cpm in nvertx_3_results.counts.embryo_warner %}
                          <td>{{ cpm }}</td>					
				        {% endfor %}
                      {% else %}
                        <td colspan='8'>No data</td>
                      {% endif %}
                    </tr>
                    {% endif %}
                     {% if nvertx_4 %}
                    <tr>
                      <td>{{ nvertx_4 }}</td>
                      {% if not nvertx_4_results.embryo_warner %}
					    {% for cpm in nvertx_4_results.counts.embryo_warner %}
                          <td>{{ cpm }}</td>					
				        {% endfor %}
                      {% else %}
                        <td colspan='8'>No data</td>
                      {% endif %}
                    </tr>
                    {% endif %}
                    {% if nvertx_5 %}
                    <tr>
                      <td>{{ nvertx_5 }}</td>
                      {% if not nvertx_5_results.embryo_warner %}
					    {% for cpm in nvertx_5_results.counts.embryo_warner %}
                          <td>{{ cpm }}</td>					
				        {% endfor %}
                      {% else %}
                        <td colspan='8'>No data</td>
                      {% endif %}
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
                <br/>
                <table class="table table-striped">
                  <h4>Fischer et al. counts (hours post fertilization)</h4>
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>0h</th>
                      <th>1h</th>
                      <th>2h</th>
                      <th>3h</th>
                      <th>4h</th>
                      <th>5h</th>
                      <th>6h</th>
                      <th>7h</th>
                      <th>8h</th>
                      <th>9h</th>
                      <th>10h</th>
                      <th>11h</th>
                      <th>12h</th>
                      <th>13h</th>
                      <th>14h</th>
                      <th>15h</th>
                      <th>16h</th>
                      <th>17h</th>
                      <th>18h</th>
                      <th>19h</th>
                    </tr>
                  </thead>
                 <tbody>
                    <tr>
                      <td>{{ nvertx_1 }}</td>
                      {% if not nvertx_1_results.invalid.embryo_fischer %}
					    {% for cpm in nvertx_1_results.counts.embryo_fischer %}
                          <td>{{ cpm }}</td>					
				        {% endfor %}
                      {% else %}
                        <td colspan='20'>No data</td>
                      {% endif %}
                    </tr>
                    {% if nvertx_2 %}
                    <tr>
                      <td>{{ nvertx_2 }}</td>
                      {% if not nvertx_2_results.invalid.embryo_fischer %}
					    {% for cpm in nvertx_2_results.counts.embryo_fischer %}
                          <td>{{ cpm }}</td>					
				        {% endfor %}
                      {% else %}
                        <td colspan='20'>No data</td>
                      {% endif %}
                    </tr>
                    {% endif %}
                    {% if nvertx_3 %}
                    <tr>
                      <td>{{ nvertx_3 }}</td>
                      {% if not nvertx_3_results.invalid.embryo_fischer %}
					    {% for cpm in nvertx_3_results.counts.embryo_fischer %}
                          <td>{{ cpm }}</td>					
				        {% endfor %}
                      {% else %}
                        <td colspan='20'>No data</td>
                      {% endif %}
                    </tr>
                    {% endif %}
                    {% if nvertx_4 %}
                    <tr>
                      <td>{{ nvertx_4 }}</td>
                      {% if not nvertx_4_results.invalid.embryo_fischer %}
					    {% for cpm in nvertx_4_results.counts.embryo_fischer %}
                          <td>{{ cpm }}</td>					
				        {% endfor %}
                      {% else %}
                        <td colspan='20'>No data</td>
                      {% endif %}
                    </tr>
                    {% endif %}
                    {% if nvertx_5 %}
                    <tr>
                      <td>{{ nvertx_5 }}</td>
                      {% if not nvertx_5_results.invalid.embryo_fischer %}
					    {% for cpm in nvertx_5_results.counts.embryo_fischer %}
                          <td>{{ cpm }}</td>					
				        {% endfor %}
                      {% else %}
                        <td colspan='20'>No data</td>
                      {% endif %}
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
                <br/>
                <table class="table table-striped">
                  <h4>Helm et al. counts (hours post fertilization)</h4>
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>2h</th>
                      <th>7h</th>
                      <th>12h</th>
                      <th>24h</th>
                      <th>120h</th>
                      <th>240h</th>
                    </tr>
                  </thead>
                 <tbody>
                    <tr>
                      <td>{{ nvertx_1 }}</td>
                      {% if not nvertx_1_results.invalid.embryo_helm %}
					    {% for cpm in nvertx_1_results.counts.embryo_helm %}
                          <td>{{ cpm }}</td>					
				        {% endfor %}
                      {% else %}
                        <td colspan='6'>No data</td>
                      {% endif %}
                    </tr>
                    {% if nvertx_2 %}
                    <tr>
                      <td>{{ nvertx_2 }}</td>
                      {% if not nvertx_2_results.invalid.embryo_helm %}
					    {% for cpm in nvertx_2_results.counts.embryo_helm %}
                          <td>{{ cpm }}</td>					
				        {% endfor %}
                      {% else %}
                        <td colspan='6'>No data</td>
                      {% endif %}
                    </tr>
                    {% endif %}
                    {% if nvertx_3 %}
                    <tr>
                      <td>{{ nvertx_3 }}</td>
                      {% if not nvertx_3_results.invalid.embryo_helm %}
					    {% for cpm in nvertx_3_results.counts.embryo_helm %}
                          <td>{{ cpm }}</td>					
				        {% endfor %}
                      {% else %}
                        <td colspan='6'>No data</td>
                      {% endif %}
                    </tr>
                    {% endif %}
                    {% if nvertx_4 %}
                    <tr>
                      <td>{{ nvertx_4 }}</td>
                      {% if not nvertx_4_results.invalid.embryo_helm %}
					    {% for cpm in nvertx_4_results.counts.embryo_helm %}
                          <td>{{ cpm }}</td>					
				        {% endfor %}
                      {% else %}
                        <td colspan='6'>No data</td>
                      {% endif %}
                    </tr>
                    {% endif %}
                    {% if nvertx_5 %}
                    <tr>
                      <td>{{ nvertx_5 }}</td>
                      {% if not nvertx_5_results.invalid.embryo_helm %}
					    {% for cpm in nvertx_5_results.counts.embryo_helm %}
                          <td>{{ cpm }}</td>					
				        {% endfor %}
                      {% else %}
                        <td colspan='6'>No data</td>
                      {% endif %}
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
            <div id="Annotations" class="tab-pane fade">
              <h3>Annotations</h3>
              <p class="text-info">click on a row to view the other nr hits</p>
              <table id = "annotations" class="table table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nemve1 hit</th>
                    <th>Nemve1 eval</th>
                    <th>Mfuzz Regen clust</th>
                    <th>Mfuzz Regen score</th>
                    <th>Mfuzz Embryo clust</th>
                    <th>Mfuzz Embryo score</th>
                    <th>Uniprot id</th>
                    <th>Uniprot description</th>
                    <th>Top nr hit eval</th>
                  </tr>
                </thead>
                <tbody id="annot_table">
                  <tr class="clickable">
                    <td>{{ nvertx_1 }}</td>
                    {% if not nvertx_1_results.invalid.annotation %}
                    <td>{{ nvertx_1_results.annotation.nemve1_tophit }}</td>
                    <td>{{ nvertx_1_results.annotation.nemve1_e_val }}</td>
                    <td>{% if nvertx_1_results.annotation.mfuzz_r_clust == 'NA' %}{{ nvertx_1_results.annotation.mfuzz_r_clust }}{% else %}<a href="mfuzz/{{ nvertx_1_results.annotation.mfuzz_r_clust }}">{{ nvertx_1_results.annotation.mfuzz_r_clust }}</a>{% endif %}</td>
                    <td>{{ nvertx_1_results.annotation.mfuzz_r_score }}</td>
                    <td>{% if nvertx_1_results.annotation.mfuzz_e_clust == 'NA' %}{{ nvertx_1_results.annotation.mfuzz_e_clust }}{% else %}<a href="mfuzz/{{ nvertx_1_results.annotation.mfuzz_e_clust }}">{{ nvertx_1_results.annotation.mfuzz_e_clust }}</a>{% endif %}</td>
                    <td>{{ nvertx_1_results.annotation.mfuzz_e_score }}</td>
                    <td>{% if nvertx_1_results.annotation.uniprot_id == 'No_Uniprotmatch' %}{{ nvertx_1_results.annotation.uniprot_id }}{% else %}<a href="http://www.uniprot.org/uniprot/{{ nvertx_1_results.annotation.uniprot_id }}" target="_blank">{{ nvertx_1_results.annotation.uniprot_id }}</a>{% endif %}</td>
                    <td>{{ nvertx_1_results.annotation.uniprot_description }}</td>
                    <td>{% if nvertx_1_results.annotation.nr_link %}{{ nvertx_1_results.annotation.nr_beg }}|<a href="https://www.ncbi.nlm.nih.gov/protein/{{ nvertx_1_results.annotation.nr_link }}" target="_blank">{{ nvertx_1_results.annotation.nr_link }}</a>|{{ nvertx_1_results.annotation.nr_end }}{% else %}None{% endif %}</td>
                  </tr>
                  <tr class="hidden_row">
                    <td colspan="1" ><p>other nr_hits</p></td>
                    <td colspan="9" ><p>{{ nvertx_1_results.annotation.other_nr_hits }}</p></td>
                  </tr>
                    {% else %}
                    <td colspan='10'>No data</td>
                  </tr>
                  <tr>
                    <td colspan="1" class="hidden_row"><p>other nr_hits</p></td>
                    <td colspan="9" class="hidden_row"><p>No data</p></td>
                  </tr>
                    {% endif %}
                  {% if nvertx_2 %}
                  <tr class="clickable">
                    <td>{{ nvertx_2 }}</td>
                    {% if not nvertx_2_results.invalid.annotation %}
                    <td>{{ nvertx_2_results.annotation.nemve1_tophit }}</td>
                    <td>{{ nvertx_2_results.annotation.nemve1_e_val }}</td>
                    <td>{% if nvertx_2_results.annotation.mfuzz_r_clust == 'NA' %}{{ nvertx_2_results.annotation.mfuzz_r_clust }}{% else %}<a href="mfuzz/{{ nvertx_2_results.annotation.mfuzz_r_clust }}">{{ nvertx_2_results.annotation.mfuzz_r_clust }}</a>{% endif %}</td>
                    <td>{{ nvertx_2_results.annotation.mfuzz_r_score }}</td>
                    <td>{% if nvertx_2_results.annotation.mfuzz_e_clust == 'NA' %}{{ nvertx_2_results.annotation.mfuzz_e_clust }}{% else %}<a href="mfuzz/{{ nvertx_2_results.annotation.mfuzz_e_clust }}">{{ nvertx_2_results.annotation.mfuzz_e_clust }}</a>{% endif %}</td>
                    <td>{{ nvertx_2_results.annotation.mfuzz_e_score }}</td>
                    <td>{% if nvertx_2_results.annotation.uniprot_id == 'No_Uniprotmatch' %}{{ nvertx_2_results.annotation.uniprot_id }}{% else %}<a href="http://www.uniprot.org/uniprot/{{ nvertx_2_results.annotation.uniprot_id }}" target="_blank">{{ nvertx_2_results.annotation.uniprot_id }}</a>{% endif %}</td>
                    <td>{{ nvertx_2_results.annotation.uniprot_description }}</td>
                    <td>{% if nvertx_2_results.annotation.nr_link %}{{ nvertx_2_results.annotation.nr_beg }}|<a href="https://www.ncbi.nlm.nih.gov/protein/{{ nvertx_2_results.annotation.nr_link }}" target="_blank">{{ nvertx_2_results.annotation.nr_link }}</a>|{{ nvertx_2_results.annotation.nr_end }}{% else %}None{% endif %}</td>
                  </tr>
                  <tr class="hidden_row">
                    <td colspan="1" ><p>other nr_hits</p></td>
                    <td colspan="9" ><p>{{ nvertx_2_results.annotation.other_nr_hits }}</p></td>
                  </tr>
                    {% else %}
                    <td colspan='10'>No data</td>
                  </tr>
                  <tr>
                    <td colspan="1" class="hidden_row"><p>other nr_hits</p></td>
                    <td colspan="9" class="hidden_row"><p>No data</p></td>
                  </tr>
                    {% endif %}
                  {% endif %}
                  {% if nvertx_3 %}
                  <tr class="clickable">
                    <td>{{ nvertx_3 }}</td>
                    {% if not nvertx_3_results.invalid.annotation %}
                    <td>{{ nvertx_3_results.annotation.nemve1_tophit }}</td>
                    <td>{{ nvertx_3_results.annotation.nemve1_e_val }}</td>
                    <td>{% if nvertx_3_results.annotation.mfuzz_r_clust == 'NA' %}{{ nvertx_3_results.annotation.mfuzz_r_clust }}{% else %}<a href="mfuzz/{{ nvertx_3_results.annotation.mfuzz_r_clust }}">{{ nvertx_3_results.annotation.mfuzz_r_clust }}</a>{% endif %}</td>
                    <td>{{ nvertx_3_results.annotation.mfuzz_r_score }}</td>
                    <td>{% if nvertx_3_results.annotation.mfuzz_e_clust == 'NA' %}{{ nvertx_3_results.annotation.mfuzz_e_clust }}{% else %}<a href="mfuzz/{{ nvertx_3_results.annotation.mfuzz_e_clust }}">{{ nvertx_3_results.annotation.mfuzz_e_clust }}</a>{% endif %}</td>
                    <td>{{ nvertx_3_results.annotation.mfuzz_e_score }}</td>
                    <td>{% if nvertx_3_results.annotation.uniprot_id == 'No_Uniprotmatch' %}{{ nvertx_3_results.annotation.uniprot_id }}{% else %}<a href="http://www.uniprot.org/uniprot/{{ nvertx_3_results.annotation.uniprot_id }}" target="_blank">{{ nvertx_3_results.annotation.uniprot_id }}</a>{% endif %}</td>
                    <td>{{ nvertx_3_results.annotation.uniprot_description }}</td>
                    <td>{% if nvertx_3_results.annotation.nr_link %}{{ nvertx_3_results.annotation.nr_beg }}|<a href="https://www.ncbi.nlm.nih.gov/protein/{{ nvertx_3_results.annotation.nr_link }}" target="_blank">{{ nvertx_3_results.annotation.nr_link }}</a>|{{ nvertx_3_results.annotation.nr_end }}{% else %}None{% endif %}</td>
                  </tr>
                  <tr class="hidden_row">
                    <td colspan="1" ><p>other nr_hits</p></td>
                    <td colspan="9" ><p>{{ nvertx_3_results.annotation.other_nr_hits }}</p></td>
                  </tr>
                    {% else %}
                    <td colspan='10'>No data</td>
                  </tr>
                  <tr>
                    <td colspan="1" class="hidden_row"><p>other nr_hits</p></td>
                    <td colspan="9" class="hidden_row"><p>No data</p></td>
                  </tr>
                    {% endif %}
                  {% endif %}
                  {% if nvertx_4 %}
                  <tr class="clickable">
                    <td>{{ nvertx_4 }}</td>
                    {% if not nvertx_4_results.invalid.annotation %}
                    <td>{{ nvertx_4_results.annotation.nemve1_tophit }}</td>
                    <td>{{ nvertx_4_results.annotation.nemve1_e_val }}</td>
                    <td>{% if nvertx_4_results.annotation.mfuzz_r_clust == 'NA' %}{{ nvertx_4_results.annotation.mfuzz_r_clust }}{% else %}<a href="mfuzz/{{ nvertx_4_results.annotation.mfuzz_r_clust }}">{{ nvertx_4_results.annotation.mfuzz_r_clust }}</a>{% endif %}</td>
                    <td>{{ nvertx_4_results.annotation.mfuzz_r_score }}</td>
                    <td>{% if nvertx_4_results.annotation.mfuzz_e_clust == 'NA' %}{{ nvertx_4_results.annotation.mfuzz_e_clust }}{% else %}<a href="mfuzz/{{ nvertx_4_results.annotation.mfuzz_e_clust }}">{{ nvertx_4_results.annotation.mfuzz_e_clust }}</a>{% endif %}</td>
                    <td>{{ nvertx_4_results.annotation.mfuzz_e_score }}</td>
                    <td>{% if nvertx_4_results.annotation.uniprot_id == 'No_Uniprotmatch' %}{{ nvertx_4_results.annotation.uniprot_id }}{% else %}<a href="http://www.uniprot.org/uniprot/{{ nvertx_4_results.annotation.uniprot_id }}" target="_blank">{{ nvertx_4_results.annotation.uniprot_id }}</a>{% endif %}</td>
                    <td>{{ nvertx_4_results.annotation.uniprot_description }}</td>
                    <td>{% if nvertx_4_results.annotation.nr_link %}{{ nvertx_4_results.annotation.nr_beg }}|<a href="https://www.ncbi.nlm.nih.gov/protein/{{ nvertx_4_results.annotation.nr_link }}" target="_blank">{{ nvertx_4_results.annotation.nr_link }}</a>|{{ nvertx_4_results.annotation.nr_end }}{% else %}None{% endif %}</td>
                  </tr>
                  <tr class="hidden_row">
                    <td colspan="1" ><p>other nr_hits</p></td>
                    <td colspan="9" ><p>{{ nvertx_4_results.annotation.other_nr_hits }}</p></td>
                  </tr>
                    {% else %}
                    <td colspan='10'>No data</td>
                  </tr>
                  <tr>
                    <td colspan="1" class="hidden_row"><p>other nr_hits</p></td>
                    <td colspan="9" class="hidden_row"><p>No data</p></td>
                  </tr>
                    {% endif %}
                  {% endif %}
                  {% if nvertx_5 %}
                  <tr class="clickable">
                    <td>{{ nvertx_5 }}</td>
                    {% if not nvertx_5_results.invalid.annotation %}
                    <td>{{ nvertx_5_results.annotation.nemve1_tophit }}</td>
                    <td>{{ nvertx_5_results.annotation.nemve1_e_val }}</td>
                    <td>{% if nvertx_5_results.annotation.mfuzz_r_clust == 'NA' %}{{ nvertx_5_results.annotation.mfuzz_r_clust }}{% else %}<a href="mfuzz/{{ nvertx_5_results.annotation.mfuzz_r_clust }}">{{ nvertx_5_results.annotation.mfuzz_r_clust }}</a>{% endif %}</td>
                    <td>{{ nvertx_5_results.annotation.mfuzz_r_score }}</td>
                    <td>{% if nvertx_5_results.annotation.mfuzz_e_clust == 'NA' %}{{ nvertx_5_results.annotation.mfuzz_e_clust }}{% else %}<a href="mfuzz/{{ nvertx_5_results.annotation.mfuzz_e_clust }}">{{ nvertx_5_results.annotation.mfuzz_e_clust }}</a>{% endif %}</td>
                    <td>{{ nvertx_5_results.annotation.mfuzz_e_score }}</td>
                    <td>{% if nvertx_5_results.annotation.uniprot_id == 'No_Uniprotmatch' %}{{ nvertx_5_results.annotation.uniprot_id }}{% else %}<a href="http://www.uniprot.org/uniprot/{{ nvertx_5_results.annotation.uniprot_id }}" target="_blank">{{ nvertx_5_results.annotation.uniprot_id }}</a>{% endif %}</td>
                    <td>{{ nvertx_5_results.annotation.uniprot_description }}</td>
                    <td>{% if nvertx_5_results.annotation.nr_link %}{{ nvertx_5_results.annotation.nr_beg }}|<a href="https://www.ncbi.nlm.nih.gov/protein/{{ nvertx_5_results.annotation.nr_link }}" target="_blank">{{ nvertx_5_results.annotation.nr_link }}</a>|{{ nvertx_5_results.annotation.nr_end }}{% else %}None{% endif %}</td>
                  </tr>
                  <tr class="hidden_row">
                    <td colspan="1" ><p>other nr_hits</p></td>
                    <td colspan="9" ><p>{{ nvertx_5_results.annotation.other_nr_hits }}</p></td>
                  </tr>
                    {% else %}
                    <td colspan='10'>No data</td>
                  </tr>
                  <tr>
                    <td colspan="1" class="hidden_row"><p>other nr_hits</p></td>
                    <td colspan="9" class="hidden_row"><p>No data</p></td>
                  </tr>
                    {% endif %}
                  {% endif %}
                </tbody>
              </table>
            </div>
            <div id="Fasta" class="tab-pane fade">
              <h3>Fasta</h3>
              <table class="fasta_table">
                <tr>
                    <th >>{{ nvertx_1 }}</th>
                </tr>
                <tr>
                  <td class="fasta_results">{{ nvertx_1_results.sequence_fasta.sequence_fasta }}</td>
                </tr>
                {% if nvertx_2 %}
                <tr>
                    <th >>{{ nvertx_2 }}</th>
                </tr>
                <tr>
                  <td class="fasta_results">{{ nvertx_2_results.sequence_fasta.sequence_fasta }}</td>
                </tr>
                {% endif %}
                {% if nvertx_3 %}
                <tr>
                    <th >>{{ nvertx_3 }}</th>
                </tr>
                <tr>
                  <td class="fasta_results">{{ nvertx_3_results.sequence_fasta.sequence_fasta }}</td>
                </tr>
                {% endif %}
                {% if nvertx_4 %}
                <tr>
                    <th >>{{ nvertx_4 }}</th>
                </tr>
                <tr>
                  <td class="fasta_results">{{ nvertx_4_results.sequence_fasta.sequence_fasta }}</td>
                </tr>
                {% endif %}
                {% if nvertx_5 %}
                <tr>
                    <th >>{{ nvertx_5 }}</th>
                </tr>
                <tr>
                  <td class="fasta_results">{{ nvertx_5_results.sequence_fasta.sequence_fasta }}</td>
                </tr>
                {% endif %}
              </table>
            </div>
            <div id="Links" class="tab-pane fade">
              <h3>Links</h3>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>link</th>
                    <th>PaperBlast</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ nvertx_1 }}</td>
                    {% if nvertx_1_results.invalid.links %}
                    <td>No reference to NCBI found</td>
                    {% else %}
                    <td><a href='https://www.ncbi.nlm.nih.gov/pubmed?LinkName=protein_pubmed&from_uid={{ nvertx_1_results.links.ncbi }}' target="_blank">Link to PubMed ({{ nvertx_1_results.links.ncbi }})</a></td>
                    <td><a href='http://papers.genomics.lbl.gov/cgi-bin/litSearch.cgi?query={{ nvertx_1_results.links.prot }}' target="_blank">Link to PaperBlast ({{ nvertx_1_results.links.prot }})</a></td>
                    {% endif %}
                  </tr>
                  {% if nvertx_2 %}
                  <tr>
                    <td>{{ nvertx_2 }}</td>
                    {% if nvertx_2_results.invalid.links %}
                    <td>No reference to NCBI found</td>
                    {% else %}
                    <td><a href='https://www.ncbi.nlm.nih.gov/pubmed?LinkName=protein_pubmed&from_uid={{ nvertx_2_results.links.ncbi }}' target="_blank">Link to PubMed ({{ nvertx_2_results.links.ncbi }})</a></td>
                    <td><a href='http://papers.genomics.lbl.gov/cgi-bin/litSearch.cgi?query={{ nvertx_2_results.links.prot }}' target="_blank">Link to PaperBlast ({{ nvertx_2_results.links.prot }})</a></td>
                    {% endif %}
                  </tr>
                  {% endif %}
                  {% if nvertx_3 %}
                  <tr>
                    <td>{{ nvertx_3 }}</td>
                    {% if nvertx_3_results.invalid.links %}
                    <td>No reference to NCBI found</td>
                    {% else %}
                    <td><a href='https://www.ncbi.nlm.nih.gov/pubmed?LinkName=protein_pubmed&from_uid={{ nvertx_3_results.links.ncbi }}' target="_blank">Link to PubMed ({{ nvertx_3_results.links.ncbi }})</a></td>
                    <td><a href='http://papers.genomics.lbl.gov/cgi-bin/litSearch.cgi?query={{ nvertx_3_results.links.prot }}' target="_blank">Link to PaperBlast ({{ nvertx_3_results.links.prot }})</a></td>
                    {% endif %}
                  </tr>
                  {% endif %}
                  {% if nvertx_4 %}
                  <tr>
                    <td>{{ nvertx_4 }}</td>
                    {% if nvertx_4_results.invalid.links %}
                    <td>No reference to NCBI found</td>
                    {% else %}
                    <td><a href='https://www.ncbi.nlm.nih.gov/pubmed?LinkName=protein_pubmed&from_uid={{ nvertx_4_results.links.ncbi }}' target="_blank">Link to PubMed ({{ nvertx_4_results.links.ncbi }})</a></td>
                    <td><a href='http://papers.genomics.lbl.gov/cgi-bin/litSearch.cgi?query={{ nvertx_4_results.links.prot }}' target="_blank">Link to PaperBlast ({{ nvertx_4_results.links.prot }})</a></td>
                    {% endif %}
                  </tr>
                  {% endif %}
                  {% if nvertx_5 %}
                  <tr>
                    <td>{{ nvertx_5 }}</td>
                    {% if nvertx_5_results.invalid.links %}
                    <td>No reference to NCBI found</td>
                    {% else %}
                    <td><a href='https://www.ncbi.nlm.nih.gov/pubmed?LinkName=protein_pubmed&from_uid={{ nvertx_5_results.links.ncbi }}' target="_blank">Link to PubMed ({{ nvertx_5_results.links.ncbi }})</a></td>
                    <td><a href='http://papers.genomics.lbl.gov/cgi-bin/litSearch.cgi?query={{ nvertx_5_results.links.prot }}' target="_blank">Link to PaperBlast ({{ nvertx_5_results.links.prot }})</a></td>
                    {% endif %}
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
            <div id="Alignment" class="tab-content fade">
                <h3>MUSCLE Alignment</h3>
                {% autoescape off %}{{ out }}{% endautoescape %}
            </div>
          </div>

  </div>
{% endblock content %}

{% block js %}
<!-- This script is the show hide for annotation table 'extra hits'-->
<script type="text/javascript">
$("body").on("click", ".clickable",function(){
	$(this).next().toggle('swing');
});
</script>

<!-- This monster is the plotly script-->
<script type="text/javascript">

var regenData = []

// helper function to make the labels
makeRegenLabels = function(x,y){
  var len = x.length;
  var text = [];
  for (i = 0; i < len; i++) {
    var out = x[i] +'hpa <br>'+ y[i];
    text.push(out);
  }
  return text;
}

// helper function to make the trace
makeRegenTrace = function(x,y,name,errorPlus,errorMinus,text,color){
    var trace = {
      x:x,
      y:y,
      name: name,
      error_y: {
        type: 'data',
        symmetric: false,
        array: errorPlus,
        arrayminus: errorMinus,
        width: 0,
        thickness: 1,
      },
     type: 'scatter',
     line: {
       width: 1.5,
       color: color,
     },
     text: text,
     hoverinfo: 'text+name'      
  };
  return(trace);
}

{% if nvertx_1 %}
  var color = 'rgb(31, 119, 180)'
  // Pull the data
  var x = [-2,0,2,4,8,12,16,20,24,36,48,60,72,96,120,144];
  var y = []; 
  {% for cpm in nvertx_1_results.counts.regen %}
    y.push({{cpm}})
  {% endfor %}
  var errorPlus = [];
  {% for se in nvertx_1_results.counts.regen_se %}
    errorPlus.push({{se}});
  {% endfor %}
  var errorMinus = [];
  {% for se in nvertx_1_results.counts.regen_se %}
    errorMinus.push({{se}});
  {% endfor %}
  
  //makes the hover labels
  var text = makeRegenLabels(x,y);
  //name of the trace
  var name = '{{ nvertx_1 }}{% if not nvertx_1_results.invalid.links %}<br>{{ nvertx_1_results.annotation.nr_hit_graph }}{% else %}<br>No annotations{% endif %}'
  var trace1 = makeRegenTrace(x,y,name,errorPlus,errorMinus,text,color);
  
  regenData.push( trace1 )
{% endif %};

{% if nvertx_2 %}
  var color= 'rgb(255, 127, 14)'
  // Pull the data
  var x = [-2,0,2,4,8,12,16,20,24,36,48,60,72,96,120,144];
  var y = []; 
  {% for cpm in nvertx_2_results.counts.regen %}
    y.push({{cpm}})
  {% endfor %}
  var errorPlus = [];
  {% for se in nvertx_2_results.counts.regen_se %}
    errorPlus.push({{se}});
  {% endfor %}
  var errorMinus = [];
  {% for se in nvertx_2_results.counts.regen_se %}
    errorMinus.push({{se}});
  {% endfor %}
  
  //makes the hover labels
  var text = makeRegenLabels(x,y);
  //name of the trace
  var name = '{{ nvertx_2 }}{% if not nvertx_2_results.invalid.links %}<br>{{ nvertx_2_results.annotation.nr_hit_graph }}{% else %}<br>No annotations{% endif %}'
  var trace2 = makeRegenTrace(x,y,name,errorPlus,errorMinus,text,color);
  
  regenData.push( trace2 )
{% endif %};

{% if nvertx_3 %} 
  var color= 'rgb(44, 160, 44)'
  // Pull the data
  var x = [-2,0,2,4,8,12,16,20,24,36,48,60,72,96,120,144];
  var y = []; 
  {% for cpm in nvertx_3_results.counts.regen %}
    y.push({{cpm}})
  {% endfor %}
  var errorPlus = [];
  {% for se in nvertx_3_results.counts.regen_se %}
    errorPlus.push({{se}});
  {% endfor %}
  var errorMinus = [];
  {% for se in nvertx_3_results.counts.regen_se %}
    errorMinus.push({{se}});
  {% endfor %}
  
  //makes the hover labels
  var text = makeRegenLabels(x,y);
  //name of the trace
  var name = '{{ nvertx_3 }}{% if not nvertx_3_results.invalid.links %}<br>{{ nvertx_3_results.annotation.nr_hit_graph }}{% else %}<br>No annotations{% endif %}'
  var trace3 = makeRegenTrace(x,y,name,errorPlus,errorMinus,text,color);
  
  regenData.push( trace3 )
{% endif %};

{% if nvertx_4 %}
  var color = 'rgb(214, 39, 40)'
  // Pull the data
  var x = [-2,0,2,4,8,12,16,20,24,36,48,60,72,96,120,144];
  var y = []; 
  {% for cpm in nvertx_4_results.counts.regen %}
    y.push({{cpm}})
  {% endfor %}
  var errorPlus = [];
  {% for se in nvertx_4_results.counts.regen_se %}
    errorPlus.push({{se}});
  {% endfor %}
  var errorMinus = [];
  {% for se in nvertx_4_results.counts.regen_se %}
    errorMinus.push({{se}});
  {% endfor %}
  
  //makes the hover labels
  var text = makeRegenLabels(x,y);
  //name of the trace
  var name = '{{ nvertx_4 }}{% if not nvertx_4_results.invalid.links %}<br>{{ nvertx_4_results.annotation.nr_hit_graph }}{% else %}<br>No annotations{% endif %}'
  var trace4 = makeRegenTrace(x,y,name,errorPlus,errorMinus,text,color);
  
  regenData.push( trace4 )
{% endif %};

{% if nvertx_5 %}
  var color = 'rgb(148, 103, 189)'
  // Pull the data
  var x = [-2,0,2,4,8,12,16,20,24,36,48,60,72,96,120,144];
  var y = []; 
  {% for cpm in nvertx_5_results.counts.regen %}
    y.push({{cpm}})
  {% endfor %}
  var errorPlus = [];
  {% for se in nvertx_5_results.counts.regen_se %}
    errorPlus.push({{se}});
  {% endfor %}
  var errorMinus = [];
  {% for se in nvertx_5_results.counts.regen_se %}
    errorMinus.push({{se}});
  {% endfor %}
  
  //makes the hover labels
  var text = makeRegenLabels(x,y);
  //name of the trace
  var name = '{{ nvertx_5 }}{% if not nvertx_5_results.invalid.links %}<br>{{ nvertx_5_results.annotation.nr_hit_graph }}{% else %}<br>No annotations{% endif %}'
  var trace5 = makeRegenTrace(x,y,name,errorPlus,errorMinus,text,color);
  
  regenData.push( trace5 )
{% endif %};

var regenContainer = document.getElementById( "regenPlotWrapper" );

var regenLayout = {
  title: 'Regeneration Expression',
  xaxis: {
    title: 'hours post amputation',
    titlefont: {
      family: 'Courier New, monospace',
      size: 12,
      color: '#7f7f7f'
    }
  },
  yaxis: {
    title: {% if not log2 %}'log2(counts per million + 1)'{% else %}'counts per million'{% endif %},
    titlefont: {
      family: 'Courier New, monospace',
      size: 12,
      color: '#7f7f7f'
    }
  },
  width: regenContainer.offsetWidth,
  height: regenContainer.offsetHeight,
  hovermode:'closest',
  showlegend: true
};

Plotly.plot('regenPlot', regenData, regenLayout, {
  modeBarButtonsToRemove: ['toImage', 'select2d', 'sendDataToCloud','lasso2d','toggleSpikelines'],
  displayModeBar: true,
  displaylogo: false,
  modeBarButtonsToAdd: [{
    name: 'Download',
    icon: Plotly.Icons.camera,
    click: function(gd) {
      Plotly.downloadImage(gd,{filename: 'Embryo_plot'})
    }
  }]
})

/*
 *
 * EMBRYO PLOT
 *
*/

var embryoData = [];

// helper function to make the trace
makeEmbryoMeanTrace = function(x,y,name,color){
    var trace = {
      x:x,
      y:y,
      name: name,
      mode: 'lines',
      line : {
        color:color,
        width: 1.5
      },
      hoverinfo: 'text+name' 
  };
  return(trace);
};

// these markers don't change so they go here:
var helmSymbol='triangle-up';
var fischerSymbol='circle';
var warnerSymbol = 'square';

// helper function to make the dot trace
makeEmbryoDotTrace = function(x,y,name,errorPlus,errorMinus,text,color,symbol){
    var trace = {
      x:x,
      y:y,
      name: name,
      mode: 'lines',
      hoverinfo: 'text+name',
      error_y: {
        type: 'data',
        symmetric: false,
        array: errorPlus,
        arrayminus: errorMinus,
        width: 0,
        thickness:1,
        color: color
      },
      mode: 'markers',
      marker : {
        color:color,
        symbol: symbol
      },
      text: text,
      hoverinfo: 'text+name' ,
      showlegend: false     
    }; 
  return(trace);
};

makeEmbryoLabels = function(dataset,X,Y){
  var len = x.length;
  var text = [];
  for (i = 0; i < len; i++ ) {
    var out = dataset+' '+ X[i] +'hpf <br>'+ Y[i];
    text.push(out);
  }
  return text;
}


{% if nvertx_1 %}
  var color = 'rgb(31, 119, 180)'
  
  // Pull the data
  var meanX = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,24,48,72,96,120,144,168,192,240];
  var meanY = [];
  {% for cpm in nvertx_1_results.counts.embryo_mean %}
    meanY.push({{cpm}});
  {% endfor %}
  
  //name trace
  var meanName = '{{ nvertx_1 }}{% if not nvertx_1_results.invalid.links %}<br>{{ nvertx_1_results.annotation.nr_hit_graph }}{% else %}<br>No annotations{% endif %}'
    
  var meanTrace1 = makeEmbryoMeanTrace(meanX,meanY,meanName,color);
  
  //add the mean data
  embryoData.push( meanTrace1 )
 
  //start with the Fischer data
  var fischerX = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
  var fischerY = [];
  {% for cpm in nvertx_1_results.counts.embryo_fischer %}
    fischerY.push({{cpm}});
  {% endfor %}

  var fischerErrorPlus = [];
  {% for se in nvertx_1_results.counts.embryo_fischer_se %}
    fischerErrorPlus.push({{se}});
  {% endfor %}

  var fischerErrorMinus = [];
  {% for se in nvertx_1_results.counts.embryo_fischer_se %}
    fischerErrorMinus.push({{se}})
  {% endfor %} 
  var fischerText = makeEmbryoLabels('FISCHER',fischerX,fischerY);
  var fischerName = '';
  
  var fischerTrace1 = makeEmbryoDotTrace(fischerX,fischerY,fischerName,fischerErrorPlus,fischerErrorMinus,fischerText,color,fischerSymbol)
  embryoData.push( fischerTrace1 )
  
  //warner data
  var warnerX = [24,48,72,96,120,144,168,192]

  var warnerY = [];
  {% for cpm in nvertx_1_results.counts.embryo_warner %}
    warnerY.push({{cpm}});
  {% endfor %}

  var warnerErrorPlus = [];
  {% for se in nvertx_1_results.counts.embryo_warner_se %}
    warnerErrorPlus.push({{se}});
  {% endfor %}

  var warnerErrorMinus = [];
  {% for se in nvertx_1_results.counts.embryo_warner_se %}
    warnerErrorPlus.push({{se}});
  {% endfor %}
   
  var warnerText = makeEmbryoLabels('WARNER',warnerX,warnerY);
  var warnerName = '';
 
  var warnerTrace1 = makeEmbryoDotTrace(warnerX,warnerY,warnerName,warnerErrorPlus,warnerErrorMinus,warnerText,color,warnerSymbol)
  embryoData.push( warnerTrace1 )
  
  //HELM data
  var helmX = [2,7,12,24,120,240]

  var helmY = [];
  {% for cpm in nvertx_1_results.counts.embryo_helm %}
    helmY.push({{cpm}});
  {% endfor %}

  var helmErrorPlus = [];
  {% for se in nvertx_1_results.counts.embryo_helm_se %}
    helmErrorPlus.push({{se}});
  {% endfor %}

  var helmErrorMinus = [];
  {% for se in nvertx_1_results.counts.embryo_helm_se %}
    helmErrorMinus.push({{se}});
  {% endfor %}
   
  var helmText = makeEmbryoLabels('HELM',helmX,helmY);
  var helmName = '';
 
  var helmTrace1 = makeEmbryoDotTrace(helmX,helmY,helmName,helmErrorPlus,helmErrorMinus,helmText,color,helmSymbol)
  embryoData.push( helmTrace1 )
  
{% endif %};
{% if nvertx_2 %}
  var color= 'rgb(255, 127, 14)'
  
  // Pull the data
  var meanX = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,24,48,72,96,120,144,168,192,240];
  var meanY = [];
  {% for cpm in nvertx_2_results.counts.embryo_mean %}
    meanY.push({{cpm}});
  {% endfor %}
  
  //name trace
  var meanName = '{{ nvertx_2 }}{% if not nvertx_2_results.invalid.links %}<br>{{ nvertx_2_results.annotation.nr_hit_graph }}{% else %}<br>No annotations{% endif %}'
    
  var meanTrace2 = makeEmbryoMeanTrace(meanX,meanY,meanName,color);
  
  //add the mean data
  embryoData.push( meanTrace2 )
 
  //start with the Fischer data
  var fischerX = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
  var fischerY = [];
  {% for cpm in nvertx_2_results.counts.embryo_fischer %}
    fischerY.push({{cpm}});
  {% endfor %}

  var fischerErrorPlus = [];
  {% for se in nvertx_2_results.counts.embryo_fischer_se %}
    fischerErrorPlus.push({{se}});
  {% endfor %}

  var fischerErrorMinus = [];
  {% for se in nvertx_2_results.counts.embryo_fischer_se %}
    fischerErrorMinus.push({{se}})
  {% endfor %} 
  var fischerText = makeEmbryoLabels('FISCHER',fischerX,fischerY);
  var fischerName = '';
  
  var fischerTrace2 = makeEmbryoDotTrace(fischerX,fischerY,fischerName,fischerErrorPlus,fischerErrorMinus,fischerText,color,fischerSymbol)
  embryoData.push( fischerTrace2 )
  
  //warner data
  var warnerX = [24,48,72,96,120,144,168,192]

  var warnerY = [];
  {% for cpm in nvertx_2_results.counts.embryo_warner %}
    warnerY.push({{cpm}});
  {% endfor %}

  var warnerErrorPlus = [];
  {% for se in nvertx_2_results.counts.embryo_warner_se %}
    warnerErrorPlus.push({{se}});
  {% endfor %}

  var warnerErrorMinus = [];
  {% for se in nvertx_2_results.counts.embryo_warner_se %}
    warnerErrorPlus.push({{se}});
  {% endfor %}
   
  var warnerText = makeEmbryoLabels('WARNER',warnerX,warnerY);
  var warnerName = '';
 
  var warnerTrace2 = makeEmbryoDotTrace(warnerX,warnerY,warnerName,warnerErrorPlus,warnerErrorMinus,warnerText,color,warnerSymbol)
  embryoData.push( warnerTrace2 )
  
  //HELM data
  var helmX = [2,7,12,24,120,240]

  var helmY = [];
  {% for cpm in nvertx_2_results.counts.embryo_helm %}
    helmY.push({{cpm}});
  {% endfor %}

  var helmErrorPlus = [];
  {% for se in nvertx_2_results.counts.embryo_helm_se %}
    helmErrorPlus.push({{se}});
  {% endfor %}

  var helmErrorMinus = [];
  {% for se in nvertx_2_results.counts.embryo_helm_se %}
    helmErrorMinus.push({{se}});
  {% endfor %}
   
  var helmText = makeEmbryoLabels('HELM',helmX,helmY);
  var helmName = '';
 
  var helmTrace2 = makeEmbryoDotTrace(helmX,helmY,helmName,helmErrorPlus,helmErrorMinus,helmText,color,helmSymbol)
  embryoData.push( helmTrace2 )
  
{% endif %};
{% if nvertx_3 %}
  var color= 'rgb(44, 160, 44)'
  
  // Pull the data
  var meanX = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,24,48,72,96,120,144,168,192,240];
  var meanY = [];
  {% for cpm in nvertx_3_results.counts.embryo_mean %}
    meanY.push({{cpm}});
  {% endfor %}
  
  //name trace
  var meanName = '{{ nvertx_3 }}{% if not nvertx_3_results.invalid.links %}<br>{{ nvertx_3_results.annotation.nr_hit_graph }}{% else %}<br>No annotations{% endif %}'
    
  var meanTrace3 = makeEmbryoMeanTrace(meanX,meanY,meanName,color);
  
  //add the mean data
  embryoData.push( meanTrace3 )
 
  //start with the Fischer data
  var fischerX = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
  var fischerY = [];
  {% for cpm in nvertx_3_results.counts.embryo_fischer %}
    fischerY.push({{cpm}});
  {% endfor %}

  var fischerErrorPlus = [];
  {% for se in nvertx_3_results.counts.embryo_fischer_se %}
    fischerErrorPlus.push({{se}});
  {% endfor %}

  var fischerErrorMinus = [];
  {% for se in nvertx_3_results.counts.embryo_fischer_se %}
    fischerErrorMinus.push({{se}})
  {% endfor %} 
  var fischerText = makeEmbryoLabels('FISCHER',fischerX,fischerY);
  var fischerName = '';
  
  var fischerTrace3 = makeEmbryoDotTrace(fischerX,fischerY,fischerName,fischerErrorPlus,fischerErrorMinus,fischerText,color,fischerSymbol)
  embryoData.push( fischerTrace3 )
  
  //warner data
  var warnerX = [24,48,72,96,120,144,168,192]

  var warnerY = [];
  {% for cpm in nvertx_3_results.counts.embryo_warner %}
    warnerY.push({{cpm}});
  {% endfor %}

  var warnerErrorPlus = [];
  {% for se in nvertx_3_results.counts.embryo_warner_se %}
    warnerErrorPlus.push({{se}});
  {% endfor %}

  var warnerErrorMinus = [];
  {% for se in nvertx_3_results.counts.embryo_warner_se %}
    warnerErrorPlus.push({{se}});
  {% endfor %}
   
  var warnerText = makeEmbryoLabels('WARNER',warnerX,warnerY);
  var warnerName = '';
 
  var warnerTrace3 = makeEmbryoDotTrace(warnerX,warnerY,warnerName,warnerErrorPlus,warnerErrorMinus,warnerText,color,warnerSymbol)
  embryoData.push( warnerTrace3 )
  
  //HELM data
  var helmX = [2,7,12,24,120,240]

  var helmY = [];
  {% for cpm in nvertx_3_results.counts.embryo_helm %}
    helmY.push({{cpm}});
  {% endfor %}

  var helmErrorPlus = [];
  {% for se in nvertx_3_results.counts.embryo_helm_se %}
    helmErrorPlus.push({{se}});
  {% endfor %}

  var helmErrorMinus = [];
  {% for se in nvertx_3_results.counts.embryo_helm_se %}
    helmErrorMinus.push({{se}});
  {% endfor %}
   
  var helmText = makeEmbryoLabels('HELM',helmX,helmY);
  var helmName = '';
 
  var helmTrace3 = makeEmbryoDotTrace(helmX,helmY,helmName,helmErrorPlus,helmErrorMinus,helmText,color,helmSymbol)
  embryoData.push( helmTrace3 )
  
{% endif %};
{% if nvertx_4 %}
  var color = 'rgb(214, 39, 40)';
  // Pull the data
  var meanX = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,24,48,72,96,120,144,168,192,240];
  var meanY = [];
  {% for cpm in nvertx_4_results.counts.embryo_mean %}
    meanY.push({{cpm}});
  {% endfor %}
  
  //name trace
  var meanName = '{{ nvertx_4 }}{% if not nvertx_4_results.invalid.links %}<br>{{ nvertx_4_results.annotation.nr_hit_graph }}{% else %}<br>No annotations{% endif %}'
    
  var meanTrace4 = makeEmbryoMeanTrace(meanX,meanY,meanName,color);
  
  //add the mean data
  embryoData.push( meanTrace4 )
 
  //start with the Fischer data
  var fischerX = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
  var fischerY = [];
  {% for cpm in nvertx_4_results.counts.embryo_fischer %}
    fischerY.push({{cpm}});
  {% endfor %}

  var fischerErrorPlus = [];
  {% for se in nvertx_4_results.counts.embryo_fischer_se %}
    fischerErrorPlus.push({{se}});
  {% endfor %}

  var fischerErrorMinus = [];
  {% for se in nvertx_4_results.counts.embryo_fischer_se %}
    fischerErrorMinus.push({{se}})
  {% endfor %} 
  var fischerText = makeEmbryoLabels('FISCHER',fischerX,fischerY);
  var fischerName = '';
  
  var fischerTrace4 = makeEmbryoDotTrace(fischerX,fischerY,fischerName,fischerErrorPlus,fischerErrorMinus,fischerText,color,fischerSymbol)
  embryoData.push( fischerTrace4 )
  
  //warner data
  var warnerX = [24,48,72,96,120,144,168,192]

  var warnerY = [];
  {% for cpm in nvertx_4_results.counts.embryo_warner %}
    warnerY.push({{cpm}});
  {% endfor %}

  var warnerErrorPlus = [];
  {% for se in nvertx_4_results.counts.embryo_warner_se %}
    warnerErrorPlus.push({{se}});
  {% endfor %}

  var warnerErrorMinus = [];
  {% for se in nvertx_4_results.counts.embryo_warner_se %}
    warnerErrorPlus.push({{se}});
  {% endfor %}
   
  var warnerText = makeEmbryoLabels('WARNER',warnerX,warnerY);
  var warnerName = '';
 
  var warnerTrace4 = makeEmbryoDotTrace(warnerX,warnerY,warnerName,warnerErrorPlus,warnerErrorMinus,warnerText,color,warnerSymbol)
  embryoData.push( warnerTrace4 )
  
  //HELM data
  var helmX = [2,7,12,24,120,240]

  var helmY = [];
  {% for cpm in nvertx_4_results.counts.embryo_helm %}
    helmY.push({{cpm}});
  {% endfor %}

  var helmErrorPlus = [];
  {% for se in nvertx_4_results.counts.embryo_helm_se %}
    helmErrorPlus.push({{se}});
  {% endfor %}

  var helmErrorMinus = [];
  {% for se in nvertx_4_results.counts.embryo_helm_se %}
    helmErrorMinus.push({{se}});
  {% endfor %}
   
  var helmText = makeEmbryoLabels('HELM',helmX,helmY);
  var helmName = '';
 
  var helmTrace4 = makeEmbryoDotTrace(helmX,helmY,helmName,helmErrorPlus,helmErrorMinus,helmText,color,helmSymbol)
  embryoData.push( helmTrace4 )
  
{% endif %};
{% if nvertx_5 %}
  var color = 'rgb(148, 103, 189)'
  
  // Pull the data
  var meanX = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,24,48,72,96,120,144,168,192,240];
  var meanY = [];
  {% for cpm in nvertx_5_results.counts.embryo_mean %}
    meanY.push({{cpm}});
  {% endfor %}
  
  //name trace
  var meanName = '{{ nvertx_5 }}{% if not nvertx_5_results.invalid.links %}<br>{{ nvertx_5_results.annotation.nr_hit_graph }}{% else %}<br>No annotations{% endif %}'
    
  var meanTrace5 = makeEmbryoMeanTrace(meanX,meanY,meanName,color);
  
  //add the mean data
  embryoData.push( meanTrace5 )
 
  //start with the Fischer data
  var fischerX = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
  var fischerY = [];
  {% for cpm in nvertx_5_results.counts.embryo_fischer %}
    fischerY.push({{cpm}});
  {% endfor %}

  var fischerErrorPlus = [];
  {% for se in nvertx_5_results.counts.embryo_fischer_se %}
    fischerErrorPlus.push({{se}});
  {% endfor %}

  var fischerErrorMinus = [];
  {% for se in nvertx_5_results.counts.embryo_fischer_se %}
    fischerErrorMinus.push({{se}})
  {% endfor %} 
  var fischerText = makeEmbryoLabels('FISCHER',fischerX,fischerY);
  var fischerName = '';
  
  var fischerTrace5 = makeEmbryoDotTrace(fischerX,fischerY,fischerName,fischerErrorPlus,fischerErrorMinus,fischerText,color,fischerSymbol)
  embryoData.push( fischerTrace5 )
  
  //warner data
  var warnerX = [24,48,72,96,120,144,168,192]

  var warnerY = [];
  {% for cpm in nvertx_5_results.counts.embryo_warner %}
    warnerY.push({{cpm}});
  {% endfor %}

  var warnerErrorPlus = [];
  {% for se in nvertx_5_results.counts.embryo_warner_se %}
    warnerErrorPlus.push({{se}});
  {% endfor %}

  var warnerErrorMinus = [];
  {% for se in nvertx_5_results.counts.embryo_warner_se %}
    warnerErrorPlus.push({{se}});
  {% endfor %}
   
  var warnerText = makeEmbryoLabels('WARNER',warnerX,warnerY);
  var warnerName = '';
 
  var warnerTrace5 = makeEmbryoDotTrace(warnerX,warnerY,warnerName,warnerErrorPlus,warnerErrorMinus,warnerText,color,warnerSymbol)
  embryoData.push( warnerTrace5 )
  
  //HELM data
  var helmX = [2,7,12,24,120,240]

  var helmY = [];
  {% for cpm in nvertx_5_results.counts.embryo_helm %}
    helmY.push({{cpm}});
  {% endfor %}

  var helmErrorPlus = [];
  {% for se in nvertx_5_results.counts.embryo_helm_se %}
    helmErrorPlus.push({{se}});
  {% endfor %}

  var helmErrorMinus = [];
  {% for se in nvertx_5_results.counts.embryo_helm_se %}
    helmErrorMinus.push({{se}});
  {% endfor %}
   
  var helmText = makeEmbryoLabels('HELM',helmX,helmY);
  var helmName = '';
 
  var helmTrace5 = makeEmbryoDotTrace(helmX,helmY,helmName,helmErrorPlus,helmErrorMinus,helmText,color,helmSymbol)
  embryoData.push( helmTrace5 )
  
{% endif %};

// this uses the sixe of the div to make the plot the correct size
var embryoContainer = document.getElementById( "embryoPlotWrapper" );

var embryoLayout = {
  title: 'Embryonic Expression',
  xaxis: {
    title: 'Hours post fertilization<br>■ Warner/ ▴ Helm / ● Fischer ',
    titlefont: {
      family: 'Courier New, monospace',
      size: 12,
      color: '#7f7f7f'
    }
  },
  yaxis: {
    title: 'log2(counts per million + 1)',
    titlefont: {
      family: 'Courier New, monospace',
      size: 12,
      color: '#7f7f7f'
    }
  },
  width: embryoContainer.offsetWidth,
  height: embryoContainer.offsetHeight,
  hovermode:'closest'
};

// call plotly
Plotly.plot('embryoPlot', embryoData, embryoLayout, {
  modeBarButtonsToRemove: ['toImage', 'select2d','sendDataToCloud','lasso2d','toggleSpikelines'],
  displayModeBar: true,
  displaylogo: false,
  modeBarButtonsToAdd: [{
    name: 'Download',
    icon: Plotly.Icons.camera,
    click: function(gd) {
      Plotly.downloadImage(gd,{filename: 'Embryo_plot'})
    }
  }]
})

</script>
{% endblock js %}